.jc-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 50px;
    max-height: 500px;
    overflow: hidden;
    transition: top 1s;
    position: fixed;
    top: -500px;
    /* top: 0px; */
    z-index: 20;
}

.jc-menu-triangle {
    width: 0px;
    height: 0px;
    border-color: rgba(29, 29, 29, 0.9) transparent transparent transparent;
    border-style: solid;
    border-width: 500px;
    transition: top 1s;
    position: relative;    
    /* top: -500px; */
    top: 0px;
}

.jc-menu-open {    
    top: 0px;
}

.menu-content {
    width: 200px;
    height: 310px;
    /* border: 1px solid #fff; */
    /* opacity: 0; */
    overflow: auto;
    transition: all 1s;
    position: fixed;
    top: -500px;
    /* top: 50px; */
    left: calc(50% - 100px);
    transition: top 1s;
}
.menu-content-open {  
    top: 30px;
}

/* 滾動條樣式 */
.menu-content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: none;
}
.menu-content::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    border: none;
    border-radius: 3px;
}

.menu-eachlink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    color: #fafafa;
    text-decoration: none;
    /* border-radius: 50px 50px 0px 0px; */
    border-bottom: 1px solid rgba(0,0,0,0);
    overflow: hidden;
    opacity: 0;
    position: relative;
    /* border: 1px solid #fff; */
}

.show-out { 
    animation: eachlink 0.5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes eachlink {
    0% {        
        top: -60px;
        opacity: 0;
    }
    100% {        
        top: 0px;
        opacity: 1;
    }
}


.mel1 {
    /* animation-delay: 1s; */
}

.mel2 {
    animation-delay: 0.6s;
}

.mel3 {
    animation-delay: 0.8s;
}

.mel4 {
    animation-delay: 1s;
}

.mel5 {
    animation-delay: 1.2s;
}

/* .eachlink-border {
    content: '';
    width: 0px;
    height: 1px;
    border-bottom: 1px solid rgb(204, 30, 82);
    transition: all 0.5s;
    position: absolute;
    bottom: 0px;
    left: 50%;
}

.menu-ripple {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: rgba(204, 30, 82, 0.8);
    position: absolute;
    transition: all 0.5s;
    margin-top: 50px;
    z-index: -1;

    animation-name: ripple;
    animation-duration: 2s;
}
.rp2 {animation-delay: 0.2s;}
.rp3 {animation-delay: 0.4s;}
.rp4 {animation-delay: 0.5s;}
.rp5 {animation-delay: 0.8s;}

@keyframes ripple {
    0% {        
        width: 0px;
        height: 0px;
        left: 50%;
        opacity: 1;
    }
    100% {        
        width: 300px;
        height: 300px;
        left: calc(50% - 150px);
        opacity: 0;
    }
} */

.menu-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14px;
    height: 30px;
    padding: 10px;
    transition: top 0.8s;
    position: fixed;
    top: 10px;
    left: calc(50% - 17px);
    z-index: 20;
}

.menu-icon span {
    width: 2px;
    height: 100%;
    background: #bbb;
    border-radius: 2px;
}

.menu-icon:hover {
    top: 25px;
}

.menu-close, .menu-close:hover {    
    top: 330px;
    transition: all 1s linear 0.5s;
}

.menu-close span {    
    animation: 0.3s linear 1 1.7s;
    animation-fill-mode: forwards;
}

.menu-close .menu-icon-1 {
    position: relative;
    top: 0px;
    left: 0px;
    transform-origin: 50% 50%;
    animation-name: close1;
}

@keyframes close1 {
    0% {
        left: 0px;
    }
    50% {
        left: 6px;
    }    
    100% {
        left: 6px;
        transform: rotate(45deg);
    }
}

.menu-close .menu-icon-2 {
    animation-name: close2;
}

@keyframes close2 {
    0% {
        height: 100%;
    }
    50% {
        height: 0%;
    }
    100% {
        height: 0%;
    }
}

.menu-close .menu-icon-3 {  
    position: relative;
    top: 0px;
    right: 0px;
    transform-origin: 50% 50%;
    animation-name: close3;  
}

@keyframes close3 {
    0% {
        right: 0px;
    }
    50% {
        right: 6px;
    }    
    100% {
        right: 6px;
        transform: rotate(-45deg);
    }
}

