html {
    scroll-behavior: smooth;
}
*, footer {
 font-family: '微軟正黑體', sans-serif, Arial, Helvetica;   
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1200px; */
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    /* left: calc(50% - 600px); */
    left: 0;
    z-index: 1;
}
.logo {
    width: 500px;
    height: 80px;
    background-color: rgba(195, 13, 36, 0.8);
    padding: 20px;
}
.logo img {
    width: 100%;
}
.menu-icon {
    display: none;
    width: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.menu-icon img {
    width: 100%;
}
.header-ul {
    display: flex;
    margin-right: 30px;
    position: relative;
}
.header-ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 85px;
    height: 80px;
    font-size: 18px;
    color: #ccc;
    padding: 10px 0;
    margin-left: 25px;
    position: relative;
}
.header-ul a::after {
    content: '';
    display: flex;
    width: 0%;
    height: 4px;
    background: rgba(195, 13, 36, 0.8);
    position: absolute;
    bottom: 15px;
    right: 0;
    transition: all 0.3s;
}
.header-ul li:hover a {   
    filter: brightness(1.2);
}
.header-ul li:hover a::after {   
    width: 100%;
}
.close-icon {
    display: none;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.close-icon img {
    width: 100%;
}


.content {width: 1200px;}
.width1 {width: 1200px;}
.width2 {width: 900px;}

/* main-vision */
.main-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    background: #494949;
    background: url('../img/olily/main-vision-img.jpg') center center no-repeat;
    background-size: cover;
}
.main-text {    
    color: #ccc;
}
h1 {
    font-size: 55px;
    line-height: 75px;
    margin-bottom: 10px;
}
.main-text p {
    font-size: 35px;
    line-height: 55px;
    letter-spacing: 5px;
}

/* content */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}
.content {
    text-align: center;
}
h2 {
    font-size: 55px;
    line-height: 75px;
}
h3 {
    font-size: 35px;
    line-height: 55px;
    margin-bottom: 30px;
}
p {
    letter-spacing: 1px;
    line-height: 40px;
}

/* about */
.about {
}
.about .content {
}

/* service */
.service {
    background: #999;
}
.service-detail {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.service-detail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: #111;
    border-radius: 50%;
    padding: 30px;
}
.service-detail-wrapper p {
    color: #ccc;
    font-size: 25px;
    line-height: 40px;
}

/* advantages */
.advantages {

}
.advantages .content {
}
.advantages-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advantages-detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    height: 250px;
}
.advantages-img {
    width: 100px;
    height: 100px;
    background: #111;
}
.advantages-img img {
    width: 100%;
}
.advantages-detail-wrapper p {
    font-size: 25px;
    line-height: 40px;
}

/* permutations */
.permutations {
    border-top: 1px solid #333;
    background: #eee;
}
.permutations .content {
}
.permutations-detail {    
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.permutations-detail-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.permutations-name {
    width: 200px;
}
.permutations-slick {
    width: calc(100% - 400px);
    position: relative;
}
.pernutations-img img {
   width: 100%; 
   vertical-align: middle;
}
.slick-prev {
    display: none;
}
.pernutations-button {
    width: 200px;
    position: absolute;
    top: calc(50% - 23.5px);
    right: -200px;
}
.pernutations-button button {
    color: #ccc;
    font-size: 20px;
    background: #111;
    border-radius: 40px;
    padding: 10px 30px;
}
.pernutations-button button:hover,
.pernutations-button button:focus {
    background: #333;
    filter: brightness(1.2);
    outline: none;
}

/* works */
.works {
    border-top: 1px solid #333;
}
.works .content {
    width: 100%;
}
.works-slick {
    cursor: grab;
}
.work-wrapper {
    margin: 0 20px;
}
.work-wrapper:hover,
.work-wrapper:focus {
    outline: none;
    cursor: pointer;
}
.work-wrapper img {
    width: 100%;
}

/* price */
.price {
    color: #ccc;
    background: #666;
}
.price-detail {    
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.price-detail-wrapper {
    width: calc((100% - 60px) / 4);
    margin: 0 10px;
    color: #333;
    font-weight: bold;
    background: #fff;
    
}
.price-detail-wrapper:first-child {
    margin-left: 0;
}
.price-detail-wrapper:last-child {
    margin-right: 0;
}
.price-title {
    width: 100%;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    color: #ccc;
    background: #111;
    padding: 20px 0;
}
.real-price {
    height: 100px;
    font-size: 55px;
    line-height: 100px;
    color: #666;
}
.real-price span {
    font-size: 16px;
}
.price-descript {
    height: 50px;
    line-height: 20px;
    padding: 0 30px;
}
.price-content li {
    height: 60px;
    border-bottom: 1px solid #666;
    padding: 20px 0;
    position: relative;
}
.price-content p {
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 50%;
    left: calc((100% - 247px) / 2);
}
.price-date {
    font-size: 18px;
    padding:  30px 0;
}
.price-button {
    font-size: 20px;
    color: #ccc;
    background: #666;
    border-radius: 30px;
    padding: 10px 30px;
    margin-bottom: 30px;
    transition: all 0.3s;
}
.price-button:hover {
    background: rgb(195, 13, 36);
    filter: brightness(1.2);
}
.price-button:focus {
    background: rgba(195, 13, 36, 0.8);
    filter: brightness(1.2);
    outline: none;
}
.price-note {
    text-align: left;
    margin-top: 30px;
}
.price-note p {
    line-height: 25px;
}

/* contact */
.contact {

}
address {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}
h6 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
address p {
    line-height: 30px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ccc;
    background: #666;
    padding: 20px;
}
footer p {
    font-size: 18px;
}

@media screen and (max-width: 1300px){
    /* header */
    .logo {
        width: 400px;
        height: 70px;
        padding: 18px;
    }
    .header-ul a {
        width: 60px;
        height: 60px;
        font-size: 14px;
        margin-left: 15px;
    }
    .header-ul a::after {
        bottom: 10px;
    }

    .content {width: 900px;}
    .width1 {width: 900px;}
    .width2 {width: 900px;}

    /* main-vision */
    h1 {
        font-size: 50px;
        line-height: 70px;
        margin-bottom: 0px;
    }
    .main-text p {
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 4px;
    }

    /* content */
    h2 {
        font-size: 50px;
        line-height: 70px;
    }
    h3 {
        font-size: 30px;
        line-height: 45px;
    }
    p {
        font-size: 14px;
        line-height: 25px;
    }

    /* service */
    .service-detail-wrapper {
        width: 150px;
        height: 150px;
        padding: 10px;
    }
    .service-detail-wrapper p {
        font-size: 20px;
        line-height: 30px;
    }

    /* advantages */
    .advantages-detail-wrapper {
        height: 200px;
    }
    .advantages-detail-wrapper p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
    }

    /* permutations */
    .pernutations-button button {
        font-size: 16px;
    }

    /* price */
    .price-detail {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .price-detail-wrapper {
        width: calc(80% / 2);
        margin: 30px 0;
    }
    .price-title {
        font-size: 20px;
        line-height: 30px;
        padding: 15px 0;
    }
    .real-price {
        height: 80px;
        font-size: 50px;
        line-height: 80px;
    }
    .price-descript {
        height: 40px;
        line-height: 20px;
        padding: 0 5px;
    }
    .price-content li {
        height: 50px;
        padding: 15px 0;
    }
    .price-content p {
        top: 57%;
    }
    .price-date {
        padding: 20px 0;
    }
    .price-button {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .price-note {
        margin-top: 0px;
    }

    /* footer */
    footer {
        padding: 10px;
    }
    footer p {
        font-size: 14px;
    }
}

@media screen and (max-width: 980px){    
    .content,
    .width1,
    .width2 {
        width: 90%;
    }

    /* header */
    .menu-icon,
    .close-icon {
        display: block;
    }
    .header-ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        max-width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        right: -100%;
        margin-right: 0;
        transition: all 0.5s linear;
    }
    .menu-open {
        right: 0;
    }
    .header-ul li {
        width: 100%;
    }
    .header-ul a {
        align-items: center;
        width: 100%;
        height: 80px;
        font-size: 20px;
        margin-left: 0;
    }
    .header-ul a::after {
        height: 3px;
    }

    /* service */
    .service-detail {
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-detail-wrapper {
        width: 200px;
        height: 200px;
        margin: 15px calc((100% - (220px * 3)) / 6);
    }
}

@media screen and (max-width: 768px){
    /* main-vision */
    h1 {
        font-size: 45px;
        line-height: 60px;
    }
    .main-text p {
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 3px;
    }
    h2 {
        font-size: 45px;
        line-height: 60px;
    }
    h3 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    
    /* service */
    .service-detail-wrapper {
        width: 150px;
        height: 150px;
        margin: 15px calc((100% - (150px * 3)) / 6);
    }

    /* permutations */
    .permutations-name {
        width: 100px;
    }
    .permutations-slick {
        width: calc(100% - 200px);
    }
    .pernutations-button {
        width: 100px;
        right: -100px;
    }
    .pernutations-button button {
        font-size: 16px;
        padding: 10px 20px;
    }

    /* price */
    .price-detail-wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 540px){
    /* header */
    .logo {
        width: 250px;
        height: 55px;
    }
    .menu-icon,
    .close-icon {
        width: 25px;
        top: 15px;
        right: 15px;
    }
    .header-ul {
        width: 100%;
    }
    .header-ul a {
        height: 60px;
        font-size: 16px;
    }

    /* main-vision */
    h1 {
        font-size: 35px;
        line-height: 50px;
    }
    .main-text p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 2px;
    }
    h2 {
        font-size: 35px;
        line-height: 50px;
    }
    
    /* service */
    .service-detail-wrapper {
        width: 200px;
        height: 200px;
        margin: 15px calc((100% - (200px * 2)) / 4);
    }

    /* content */
    address {
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    /* service */
    .service-detail-wrapper {
        width: 200px;
        height: 200px;
        margin: 15px calc((100% - 200px) / 2);
    }

    /* advantages */
    .advantages-detail {
        width: 80%;
        margin: 0 auto;
    }
    .advantages-detail-wrapper {
        width: calc(100% / 2);
        height: 180px;
    }
    .advantages-detail-wrapper p {
        font-size: 16px;
        line-height: 20px;
    }

    /* permutations */
    .permutations-name {
        width: 60px;
    }
    .permutations-slick {
        width: calc(100% - 130px);
    }
    .pernutations-button {
        width: 80px;
        right: -80px;
    }
    .pernutations-button button {
        font-size: 14px;
        padding: 8px 15px;
    }

    /* price */
    .price-detail-wrapper {
        width: 92%;
    }
}

@media screen and (max-width: 320px){
    /* main-vision */
    .main-text p {
        font-size: 15px;
        line-height: 20px;
    }
    h3 {
        font-size: 16px;
        line-height: 25px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }

    /* content */    
    section {
        padding: 30px 0;
    }

    /* service */
    .service-detail {
        margin: 10px 0;
    }
    .service-detail-wrapper {
        width: 150px;
        height: 150px;
        margin: 10px calc((100% - 150px) / 2);
    }
    .service-detail-wrapper p {
        font-size: 18px;
        line-height: 25px;
    }

    /* advantages */
    .advantages-detail {
        width: 100%;
    }

    /* permutations */
    .permutations-detail {
        margin-top: 30px;
    }
    .permutations-name {
        display: none;
    }
    .permutations-slick {
        width: calc(100% - 50px);
    }
    .pernutations-button {
        width: 40px;
        right: -50px;
    }
    .pernutations-button button {
        padding: 10px 5px;
        width: 30px;
        border-radius: 10px;
    }    

    /* price */
    .price-detail-wrapper {
        width: 100%;
    }

    /* footer */
    footer {
        padding: 5px 10px;
    }
    footer p {
        font-size: 12px;
        transform: scale(0.9);
        line-height: 17px;
    }
}

@media screen and (max-width: 318px){
    /* header */
    .logo {
        width: 200px;
        height: 50px;
    }

    /* main-vision */
    h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .main-text p {
        font-size: 12px;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    /* advantages */
    .advantages-detail-wrapper p {
        font-size: 14px;
    }


    /* work */
    .work-wrapper {
        margin: 0;
    }

    /* price */
    .real-price {
        font-size: 40px;
    }
    .price-content p {
        display: none;
    }
    
    /* content */
    h6 {
        font-size: 18px;
        margin-bottom: 0px;
    }
    address p {
        line-height: 20px;
    }
}