table,
tr,
td {
    border-bottom: 1px solid #999;
    width: 400px;
    padding: 5px;
    /*cellpadding*/
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: pink;
}

.btn-forwelconme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    background: #468;
    border-radius: 25px;
    transition: all 0.5s;
}

.btn-forwelconme:hover {
    background: rgb(129, 31, 138);
}


/* for check icon  ▼▼▼ */

.show-chick-icon.st-check-box {
    width: 20px;
    height: 20px;
    background-color: rgb(52, 158, 66);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    transform-origin: center;
    transform: scale(0);
    -webkit-animation: checkCircle 1s;
    -moz-animation: checkCircle 1s;
    -o-animation: checkCircle 1s;
    animation: checkCircle 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes checkCircle {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.7);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes checkCircle {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.7);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@-o-keyframes checkCircle {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.7);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes checkCircle {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.7);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.show-chick-icon .st-check {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    position: relative;
}

.show-chick-icon .st-check::before,
.show-chick-icon .st-check::after {
    content: '';
    display: block;
    height: 3px;
    background-color: #fff;
    border-radius: 1.5px;
    transform-origin: 0px;
}

.show-chick-icon .st-check::before {
    width: 6px;
    transform: rotate(45deg) translate(4px, -2px) scale(0);
    -webkit-animation: check1 1s;
    -moz-animation: check1 1s;
    -o-animation: check1 1s;
    animation: check1 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes check1 {
    0% {
        transform: rotate(45deg) translate(4px, -2px) scale(0);
    }
    70% {
        transform: rotate(45deg) translate(4px, -2px) scale(0);
    }
    80% {
        transform: rotate(45deg) translate(4px, -2px) scale(1);
    }
    100% {
        transform: rotate(45deg) translate(4px, -2px) scale(1);
    }
}

@-moz-keyframes check1 {
    0% {
        transform: rotate(45deg) translate(4px, -2px) scale(0);
    }
    70% {
        transform: rotate(45deg) translate(4px, -2px) scale(0);
    }
    80% {
        transform: rotate(45deg) translate(4px, -2px) scale(1);
    }
    100% {
        transform: rotate(45deg) translate(4px, -2px) scale(1);
    }
}

@-o-keyframes check1 {
    0% {
        transform: rotate(45deg) translate(4px, -2px) scale(0);
    }
    70% {
        transform: rotate(45deg) translate(4px, -2px) scale(0);
    }
    80% {
        transform: rotate(45deg) translate(4px, -2px) scale(1);
    }
    100% {
        transform: rotate(45deg) translate(4px, -2px) scale(1);
    }
}

@keyframes check1 {
    0% {
        transform: rotate(45deg) translate(4px, -2px) scale(0);
    }
    70% {
        transform: rotate(45deg) translate(4px, -2px) scale(0);
    }
    80% {
        transform: rotate(45deg) translate(4px, -2px) scale(1);
    }
    100% {
        transform: rotate(45deg) translate(4px, -2px) scale(1);
    }
}

.show-chick-icon .st-check::after {
    width: 12px;
    transform: rotate(-45deg) translate(3px, 7px);
    -webkit-animation: check2 1s;
    -moz-animation: check2 1s;
    -o-animation: check2 1s;
    animation: check2 1s;
}

@-webkit-keyframes check2 {
    0% {
        transform: rotate(-45deg) translate(3px, 7px) scale(0);
    }
    80% {
        transform: rotate(-45deg) translate(3px, 7px) scale(0);
    }
    100% {
        transform: rotate(-45deg) translate(3px, 7px) scale(1);
    }
}

@-moz-keyframes check2 {
    0% {
        transform: rotate(-45deg) translate(3px, 7px) scale(0);
    }
    80% {
        transform: rotate(-45deg) translate(3px, 7px) scale(0);
    }
    100% {
        transform: rotate(-45deg) translate(3px, 7px) scale(1);
    }
}

@-o-keyframes check2 {
    0% {
        transform: rotate(-45deg) translate(3px, 7px) scale(0);
    }
    80% {
        transform: rotate(-45deg) translate(3px, 7px) scale(0);
    }
    100% {
        transform: rotate(-45deg) translate(3px, 7px) scale(1);
    }
}

@keyframes check2 {
    0% {
        transform: rotate(-45deg) translate(3px, 7px) scale(0);
    }
    80% {
        transform: rotate(-45deg) translate(3px, 7px) scale(0);
    }
    100% {
        transform: rotate(-45deg) translate(3px, 7px) scale(1);
    }
}


/* for check icon  ▲▲▲ */