/* ::-webkit-scrollbar — 整个滚动条.
::-webkit-scrollbar-button — 滚动条上的按钮 (上下箭头).
::-webkit-scrollbar-thumb — 滚动条上的滚动滑块.
::-webkit-scrollbar-track — 滚动条轨道.
::-webkit-scrollbar-track-piece — 滚动条没有滑块的轨道部分.
::-webkit-scrollbar-corner — 当同时有垂直滚动条和水平滚动条时交汇的部分.
::-webkit-resizer — 某些元素的corner部分的部分样式(例:textarea的可拖动按钮). */

/* 滾動條樣式 */
::-webkit-scrollbar {
    width: 40px;
    background: rgb(204, 30, 82);
}
::-webkit-scrollbar-button,::-webkit-scrollbar-track,::-webkit-scrollbar-track-piece,::-webkit-scrollbar-corner,::-webkit-resizer {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    border: 10px solid rgb(204, 30, 82);
    border-radius: 20px;
}



.jc-body {
    width: 100%;
    height: 100vh;
    /* background: rgb(30, 204, 189); */
    position: relative;
}

/* welcome 頁面內容 */
.welcomeBg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fafafa;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    z-index: 15;
}

.welcome-circle {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    transition: all 1s;
    position: relative;
}

/* welcome按鈕 箭頭符號 */
.ar {
    font-size: 12px;
    color: #aaa;
    position: absolute;
    top: 8px;
    left: calc(50% - 6px);
    transform-origin:50% 50%;
    z-index: 2;
    transition: all .9s;
}

.welcomeBTN:hover~.arrow-box .ar {
    color: #fafafa;
}

.ar:nth-of-type(2) {
    transform: rotate(90deg) translate(calc((140px - 16px - 12px) / 2),calc((-140px + 16px + 12px) / 2));
}

.ar:nth-of-type(3) {
    transform: rotate(180deg) translate(0,calc(-140px + 16px + 12px));
}

.ar:nth-of-type(4) {
    transform: rotate(-90deg) translate(calc((-140px + 16px + 12px) / 2),calc((-140px + 16px + 12px) / 2));
}


/* welcome按鈕 */
.welcome-circle::before, .welcome-circle::after {
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    position: absolute;

    animation-duration: 1.5s;
    animation-iteration-count: infinite; 
}

.welcome-circle::before {
    animation-name: bdr1;
}

@keyframes bdr1 {
    0% {        
        width: 100%;
        height: 100%;
    }
    50% {        
        width: 170%;
        height: 170%;
        border: 1px solid rgba(240, 240, 240, 0.5);
    }
    100% {        
        width: 100%;
        height: 100%;
    }
}

.welcome-circle::after {
    animation-name: bdr2;
}

@keyframes bdr2 {    
    0% {        
        width: 155%;
        height: 155%;
        border: 1px solid rgba(226, 226, 226, 0.5);
    }
    50% {        
        width: 110%;
        height: 110%;
        border: 1px solid #e4e4e4;
    }
    100% {        
        width: 155%;
        height: 155%;
        border: 1px solid rgba(226, 226, 226, 0.5);
    }
}

.welcomeBTN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    color: #aaa;
    text-decoration: none;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
    transition: all 1s;
    position: relative;
}


.welcomeBTN::before, .welcomeBTN::after {    
    content: '';
    width: 101%;
    height: 101%;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    position: absolute;

    animation-duration: 1.5s;
    animation-iteration-count: infinite; 
}

.welcomeBTN::before {
    animation-name: bdr3;
    animation-delay: 0.2s;
}

@keyframes bdr3 {
    0% {        
        width: 100%;
        height: 100%;
    }
    50% {        
        width: 155%;
        height: 155%;
        border: 1px solid rgba(240, 240, 240, 0);
    }
    100% {        
        width: 100%;
        height: 100%;
    }
}

.welcomeBTN::after {
    animation-name: bdr4;
}

@keyframes bdr4 {
    0% {        
        width: 50%;
        height: 50%;
        border: 1px solid rgba(209, 209, 209, 0.5);
    }
    50% {        
        width: 100%;
        height: 100%;
    }
    100% {        
        width: 50%;
        height: 50%;
        border: 1px solid rgba(209, 209, 209, 0.5);
    }
}

.welcomeBTN:hover {
    color: #fafafa;
    border: 70px solid rgb(204, 30, 82);
}

.welcomeBTN:hover::after {
    animation-name: bdr5;
}

@keyframes bdr5 {
    0% {        
        width: 50%;
        height: 50%;
        border: 1px solid rgba(209, 209, 209, 0.5);
    }
    80% {        
        width: 300%;
        height: 300%;
    }
    100% {        
        width: 30%;
        height: 30%;
        border: 1px solid rgba(209, 209, 209, 0.5);
    }
}

.welcome-absolute {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 80px;
    z-index: 1;
}

.welcome-absolute p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
}

.welcome-absolute h4 {
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 30px;
}

/* 過場顏色 */
.welcomeBg-pink {  
    width: 0px;
    height: 0px;  
    background: rgb(204, 30, 82);
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    transition: all 1.5s;
}

.pink-cover {    
    width: 300vw;
    height: 300vw;  
}

/* JCDS 主要頁面內容 */
.jc-content {
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.jc-main {
    width: 100%;
    height: 1800px;
    /* background: rgb(238, 32, 228); */
    background: rgb(204, 30, 82);
}