/* 2021.3.24始施作 - 2021/ */
/* .type5-header 設置區塊結構 */

/* 因為不同版型共用,所以大部分版型都會寫在這裡
除了字型、字大小、顏色
所以名稱要整體再想過,因為要不互相衝突又要共用*/

/* 共用 */
/* @font-face {
    font-family: '金萱';
    src: url('../font/JF-JINXUAN-FRESH2.1-MEDIUM.OTF');
} */
* {transition: all 0.3s;}
*:not(.slick-track),*:not(.slick-list){transition: unset;}
html, body {
    font-family: Arial, '微軟正黑體',  Helvetica, sans-serif;
}
html {
    /* for按鈕滑動效果 */
    scroll-behavior: smooth;
}

header, section, footer {
    width: 100%;
    box-sizing: border-box;
}

/* 最大寬度 */
.width-1200 { width: 1200px; height: 100%; margin: 0 auto;}
.width-1000 { width: 1000px;height: 100%;  margin: 0 auto;}
.width-800 { width: 800px; height: 100%; margin: 0 auto;}

/* 對齊 */
.center {display: flex; justify-content: center; align-items: center;}
.between {display: flex; justify-content: space-between; align-items: center;}
.between-top {display: flex; justify-content: space-between; align-items: flex-start;}
.start-top {display: flex;justify-content: flex-start;align-items: flex-start;}
.end {display: flex; justify-content: flex-end; align-items: center;}

/* 等分 */
.wrapper-3e {width: 30%; margin: 0 auto;}

/* 動態前隱藏 */
.opt {opacity: 0;}

/* 動態效果 */
.leftToRight {animation: leftToRight 0.5s linear forwards;}
.rightToLeft {animation: rightToLeft 0.5s linear forwards;}
.topToDown {animation: topToDown 0.3s linear forwards;}
.downToTop {animation: downToTop 0.5s linear forwards;}
.downToUp {animation: downToUp 0.5s linear forwards;}
.fadeIn {animation: fadeIn 0.5s linear forwards;}

/* header */
.logo {
    display: block;
    width: auto;
    max-width: 230px;
    max-height: 55px;
}
.type-header .menu,
.type-header .close {
    display: none;
    font-size: 30px;
}
ul {
    display: flex;
}
ul .link-btn {
    display: none;
}
.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;    
}
h1~p,
h2~p {
    text-align: left;
    margin-top: 40px;
}

/* video */
.video-wrapper {
    flex-direction: column;
    position: relative;
}

/* contact */
form,
.formbox {
    width: 100%;
}

/* footer */
footer p {
    text-align: center;
}


/* ▼---type2---▼ */
/* header */
#set2 .type-header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
#set2 .type-header .logo {
    max-width: 180px;
    position: absolute;
    top: 10px;
    left: 30px;
}
#set2 .menu-btn {
    height: 40px;
    padding: 0 2px;
    margin: 0 15px;
}


/* mainView */
.set2-1 {
    height: 100vh;
}
.mainView-text {
    width: 50%;
}
#set2 h1 {
    height: 130px;
    text-align: justify;
}
#set2 h1::after {
    content: "";
    display: inline-block;
    width: 100%;
}
#set2 h1~p {
    font-weight: bold;
    text-align: justify;
    margin-top: 30px;
}
#set2 h1~p::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.mainView-slick {
    width: 50%;
}

.main-slick .slick-dots,
.about-slick .slick-dots {
    bottom: -40px;
}
.main-slick .slick-dots li button:before,
.about-slick .slick-dots li button:before {
    font-size: 40px;
}
.main-slick .slick-dots li button:hover:before, 
.main-slick .slick-dots li button:focus:before,
.main-slick .slick-dots li.slick-active button:before,
.about-slick .slick-dots li button:hover:before, 
.about-slick .slick-dots li button:focus:before,
.about-slick .slick-dots li.slick-active button:before
 {
     opacity: 1;
}
.main-slick-img,
.about-slick-img {
    outline: none;
}

/* about */
.set2-4 {
    background: url('../imgs/img-bg-2.png') center bottom no-repeat;
    background-size: contain;
    padding: 100px 0;
}
.set2-4 > div {
    flex-direction: column;
}
.set2-4 p {
    text-align: center;
    margin: 40px auto;
}
.set2-4 p a {
    display: inline-block;
}
.set2-4 p a:active,
.set2-4 p a:focus  {
    text-decoration: underline;
}
.set2-4 .product-imgs-2 {
    width: 100%;
}
.set2-4 .wrapper-3e {
    width: calc((100% - 30px) / 3);
}
.set2-4 .product-img {
    overflow: hidden;
    position: relative;
}
.set2-4 .wrapper-3e img {
    transition: all 0.5s;
}
.set2-4 .wrapper-3e:hover img {
    transform: scale(1.1);
}

.set2-4 .wrapper-3e p {
    font-weight: bold;
    margin: 15px 0 0 0;
}
.set2-4 .play-btn {
    width: 70px;
    height: 70px;
}
.set2-4 .product-video-wrapper {
    display: none;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.set2-4 .video {
    width: 60%;
    max-width: 800px;
}
.set2-4 .product-video-wrapper .close {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
}

/* topic */
#set2 .set9-4 {
    background-image: url('../imgs/img-bg-3-1.png'), url('../imgs/img-bg-3-2.png');
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: contain;
}
.set9-4 > div {
    flex-direction: column;
    padding: 100px 0 150px 0;
}
.topic-9 {
    margin-top: 80px;
}
.topic-9 .wrapper-3e {
    box-shadow: 0 8px 8px rgba(0,0,0,0.3);
}
.topic-text {
    height: 270px;
    text-align: center;
    padding: 50px 30px;
}
.set9-4 .topic-text span {
    display: inline-block;
    width: 30px;
    height: 2px;
    margin-bottom: 30px;
}
.set9-4 .topic-text p {
    margin-top: 25px;
}

/* contact */
#set2 .set5-5 {
    background: url('../imgs/img-bg-4.png') center center no-repeat;
}

/* top */
#set2 .top {
    border-radius: 50%;
}
/* ▲---type2---▲ */


/* ▼---type5---▼ */

/* header */
#set5 .type-header {
    height: 75px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: 2;
}
.mb5 {
    height: 75px;
    padding: 0 5px;
    margin: 0 15px;
    position: relative;
}
.mb5::after {
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* mainView */
.set5-1 {
    width: 100%;
    height: 100vh;
    background: url(../imgs/img-main.png) center center no-repeat;
    padding-top: 30vh;
}
.main-texts-5 {
    width: 450px;
    text-align: left;
}

/* about */
.set5-2 {
    padding: 180px 0;
}
.about-img-5 {
    width: 50%;
    max-width: 800px;
    position: relative;
    right: -120px;
    bottom: 80px;
    z-index: 1;
}
.about-text-5 {
    width: 50%;
    padding: 100px 0 150px 0;
}
.about-content-5 {
    flex-direction: column;
    width: 400px;
    text-align: center;
}

/* video */
.set5-3 {
    padding: 100px 0;
}
video {
    width: 100%;
    outline: none;
}
.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 30px;
    background: rgba(0,0,0,0.8);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    cursor: pointer;
}
.play-btn i {
    padding-left: 4px;
}

/* services */
.set5-4 {
    padding: 120px 0;
}
.services-text-5 {
    width: 40%;
}
.services-icon-5 {
    flex-wrap: wrap;
    width: 50%;
}
.services-icon-5 div {
    flex-direction: column;
    margin-bottom: 50px;
}
.services-icon-5 p {
    margin-top: 10px;
}

/* contact */
.set5-5 {
    padding: 120px 0;
    background: url(../imgs/img-content.png) center center no-repeat;
}
.set5-5 > div {
    flex-direction: column;
}
.set5-5 p {
    margin-top: 10px;
}
.set5-5 form {
    margin: 45px 0;
}
.set5-5 .finput {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,0.8);
    border: unset;
    outline: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.set5-5 textarea.finput {
    height: 200px;
}
.finput::placeholder {
    color: #8e8e8e;
}
.set5-5 .finput:hover,
.set5-5 .finput:focus {
    background: #ffffff;
}
.set5-5 input[name = C_ext] {
    width: 180px;
    margin-left: 30px;
}
.set5-5 .submit_btn {
    outline: none;
    padding: 12px 20px;
    margin-bottom: 0;
    cursor: pointer;
}
.set5-5 .submit_btn:hover,
.set5-5 .submit_btn:focus {
    background: rgba(255, 255, 255, 0.2);
}

/* footer */
.type5-footer {
    height: 100px;
    position: relative;
}
.type5-footer .logo {
    width: 140px;
}
.link-btn i {
    border-radius: 8px;
    vertical-align: middle;
    margin: 0 7px;
    padding: 7px;
}
.link-btn i:hover {
    filter: brightness(1.5);
}

/* top */
.top {
    vertical-align: middle;
    border-radius: 10px;
    padding: 14px 15px 11px 15px;
    outline: none;
    position: absolute;
    top: -90px;
    right: 180px;
    z-index: 1;
}
/* ▲---type5---▲ */


@media screen and (max-width: 1366px) {        
    /* 最大寬度 */
    .width-1200 { width: 90%;}
    .width-1000 { width: 80%;}
    .width-800 { width: 70%;}

    /* about */
    .set5-2 {
        padding: 180px 0 100px 0;
    }
    .about-img-5 {
        right: -80px;
        bottom: 70px;
    }
    .about-text-5 {
        padding: 80px 0 100px 0;
    }
}


@media screen and (max-width: 1200px) {        
    /* about */
    .about-img-5 {
        right: -50px;
        bottom: 100px;
    }
}

@media screen and (max-width: 1024px) {        
    /* about */
    .set5-2 {
        padding: 150px 0 100px 0;
    }
    .about-img-5 {
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    .about-img-5 img {
        width: auto;
        height: 100%;
    }
    .about-img-5 img:hover {
        animation: imgLeftToRight 15s linear infinite;
        animation-delay: 0s !important;
    }
    .about-text-5 {
        padding: 80px 30px 100px 30px;
    }
}

@media screen and (max-width: 720px) {   
    /* header */
    .logo {
        max-width: 200px;
    }
    .menu {
        display: block;
    }
    ul {
        /* display: none; */
        flex-direction: column;
        width: 100%;
        /* height: 0; */
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 75px;
        left: 0;
        overflow: hidden;
        /* transition: height 0.5s; */
    }
    ul .link-btn {
        display: flex;
        margin: 10px 0;
    }

    /* about */
    .set5-2 {
        flex-direction: column;
        padding: 0;
    }
    .about-img-5,
    .about-text-5 {
        width: 100%;
    }    
    .about-img-5 img {
        width: 100%;
        height: auto;
    }
    .about-content-5 {
        width: 480px;
    }

    /* services */
    .set5-4 > div {
        flex-direction: column;
    }
    .services-text-5 {
        margin-bottom: 50px;
    }
    .services-text-5,
    .services-icon-5 {
        width: 480px;
    }

    /* top */
    .top {
        right: 30px;
    }

    /* footer */
    .type5-footer {
        height: 80px;
    }
    .type5-footer .logo {
        width: 100px;
    }
    footer .link-btn {
        display: none;
    }
}

@media screen and (max-width: 653px) {   
    /* about */
    .about-content-5 {
        width: 80%;
    }    

    /* services */
    .services-text-5,
    .services-icon-5 {
        width: 80%;
    }

    /* content */
    .formbox > div {
        flex-direction: column;
        align-items: flex-start;
    }
    .set5-5 input[name = C_ext] {
        margin-left: 0px;
    }

    /* footer */
    .type5-footer > div {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {  
    .width-1200 {
        width: 80%;
    }
    .width-800 {
        width: 80%;
    }

    /* header */
    #set5 .type-header {
        height: 55px;
    }
    .logo {
        max-width: 150px;
        max-height: 35px;
    }
    .type-header .menu, .type-header .close {
        font-size: 20px;
    }
    ul {
        top: 55px;
    }
    .mb5 {
        height: 55px;
    }

    /* about */
    .about-text-5 {
        padding: 80px 0 100px 0;
    }
    .about-content-5 {
        width: 80%;
    }

    /* video */
    .play-btn {
        width: 60px;
        height: 60px;
        font-size: 20px;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
    }

    /* services */
    .services-text-5, .services-icon-5 {
        width: 100%;
    }

    /* top */
    .top {
        padding: 14px 15px;
        top: -70px;
    }
}

@media screen and (max-width: 380px) { 
    /* services */
    .set5-4,
    .set5-5 {
        padding: 100px 0;
    }
}

@media screen and (max-width: 320px) { 
    .width-1200,
    .width-1000,
    .width-800 {
        width: calc(100% - 30px);
    }

    /* about */
    .about-content-5 {
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 280px) {  
    /* about */
    .about-text-5,
    .set5-3,
    .set5-4, 
    .set5-5 {
        padding: 60px 0;
    }

    .play-btn {
        width: 40px;
        height: 40px;
        font-size: 15px;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
    }
}