/* #set2 設置顏色 字體大小 */
/* 設置顏色 */
#set2 .type-header {
    background: #fff;
}
#set2 .menu-btn {
    color: #333;
}
#set2 .menu-btn:hover,
#set2 .menu-btn:focus {
    color: #e70012;
    border-bottom: 2px solid #e70012;
}
#set2 h1,
#set2 p {
    color: #333;
}
#set2 h1~p {
    color: #e70012;
}
#set2 h2 {    
    color: #e70012;
}
#set2 h5 {    
    color: #333;
}
#set2 .main-slick .slick-dots li button:hover:before, 
#set2 .main-slick .slick-dots li button:focus:before,
#set2 .main-slick .slick-dots li.slick-active button:before,
#set2 .about-slick .slick-dots li button:hover:before, 
#set2 .about-slick .slick-dots li button:focus:before,
#set2 .about-slick .slick-dots li.slick-active button:before {
    color: #e70012;
}
#set2 .about-content-5 h2,
#set2 .about-content-5 p {
    color: #fff;
}
#set2 .about-text-5 {
    background: #e70012 url('../imgs/img-bg-1.png') top left no-repeat;
}
#set2 .set2-4 p a {
    color: #333;
}
#set2 .set2-4 p a:hover,
#set2 .set2-4 p a:focus  {
    color: #e70012;
}
#set2 .set2-4 .wrapper-3e {
    color: #333;
}
#set2 .set9-4 {
    background-color: #e70012;
}
#set2 .set9-4 h2 {
    color: #fff;
}
#set2 .topic-text {
    background: #fff;
}
#set2 .set9-4 .topic-text span {
    background: #e70012;
}
#set2 .submit_btn {
    color: #e70012;
    border: 1px solid #e70012;
}
.type5-footer {
    color: #fff;
    background: #e70012;
}
.link-btn i {
    font-size: 16px;
    line-height: 30px;
    color: #e70012;
    background: #fff;
}
#set2 .top {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}
#set2 .top:hover,
#set2 .top:focus {
    background: rgba(0, 0, 0, 0.8);
}
#set2 .type5-footer p {
    color: #fff;
}

/* 字體大小 */
.wrapper-3e i {
    font-size: 70px;
}
#set2 h1 {
    font-size: 67px;
    font-weight: 900;
}
#set2 h2 {    
    font-size: 45px;
    font-weight: bold;
}
#set2 h5 {    
    font-size: 24px;
    font-weight: bold;
}
#set2 p {
    font-size: 18px;
    line-height: 30px;
}
.set2-4 .wrapper-3e i {
    font-size: 30px;
}
#set2 .submit_btn {
    font-size: 20px;
    letter-spacing: 2px;
}

#set5 .type5-footer p {
    font-size: 16px;
}
#set5 .top {
    font-size: 30px;
}