/* for 廣告輪播1 只有箭頭 自動輪播*/

.carousel {
	padding-top: 80px;
}

/* for 廣告輪播2 
自動輪播 ".autoplay" slick-type.js 58,  slick.css 34
箭頭 slick-theme.css 62.90.103.120.1338, slick-type.css 41 */

.carousel2 {
    position: relative;
}



/* for 頁面更換 漸入漸出*/

main .mainCT [id^=tab]:checked+section {
	display:block;
	-webkit-animation:tabSection 1s ease-in-out forwards;
	animation:tabSection 1s ease-in-out forwards;
}

/*
[id^=pag]:checked:parent('body') main .mainCT [id^=tab]+section  {
	display:block;
	animation:tabSection 1s ease-in-out forwards;
}
*/

	/*main .mainCT>[id^=tab]:checked+section h2{
		display:block;
		animation:tabH2 1s ease-in-out forwards;
	}

	main .mainCT>[id^=tab]:checked+section>div:last-child {
		display:block;
		animation:tabDiv 1s ease-in-out forwards;
	}*/

	/*.moveToBottom {
		-webkit-animation: moveToBottom 2s ease-in-out;  Safari 4.0 - 8.0 
		animation: moveToBottom 2s ease-in-out;
	}*/

	main .mainCT section:nth-of-type(2) ol {
		margin: 0 50px;
/*		margin: 50px 50px 0;*/
	}

	main .mainCT section>div:last-child {
		padding-bottom: 100px;
/*		border-bottom: 1px solid #888;*/
	}

		@-webkit-keyframes tabSection {
			from{opacity:0;}
			to  {opacity:1;}
		}

		@keyframes tabSection {
			from{opacity:0;}
			to  {opacity:1;}
		}

		/*@keyframes moveToBottom {
			from{top: -100%;}
			to  {top: 0;}
		}

		@keyframes tabDiv {
			from{top: -99%;}
			to  {top: 50px;}
		}*/

	main .mainCT h2 {
		text-align: center;
		padding: 20px 0;
		border-bottom: 1px solid #888;
		color: #666;
        font-weight: 400;
        letter-spacing: 1px;        
	}

	main .mainCT h2+div img {
		width: 100%;
		height: auto;
		margin-top: 120px;
	}

	main .mainCT h5, main .mainCT p{
		margin: 0 50px;
		color: #666;
	}

	main .mainCT h5 {
		font-size: 20px;
		padding: 20px 0 10px;
	}

	main .mainCT p {
		text-align: justify;
		letter-spacing: .6px;
		line-height: 25px;
	}
@media only screen and (max-width:760px){
    /*For content*/
    main .mainCT section>div:last-child {
		padding-bottom: 40px;
	}    
    
    main .mainCT section:nth-of-type(2) ol {
        margin: 0 20px;
    }
    
	main .mainCT h5, main .mainCT p{
		margin: 0 15px;
	}
}

@media only screen and (max-width:670px){
    /*For singleProduct*/
    main #singleProduct .mainCT p {
        line-height: 15px;
    }
}

@media only screen and (max-width:530px){
    .carousel {
        padding-top: 60px;
    }
    
    /*For content*/
	main .mainCT h5, main .mainCT p{
		margin: 0 5vw;
	}
}

@media only screen and (max-width:440px){
    /*For singleProduct*/	
     main #singleProduct .mainCT p {
        line-height: 25px;
    }
}