/*For all web page.*/

body {
	font-family: "微軟正黑體", arial, "arial black";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul { list-style: none;}

a { display: block;
	text-decoration: none;
	color: #000;
}

a, button {    
    cursor: pointer;
}


a:hover, input:hover, button:hover {    
    text-decoration: none;
}

a:focus, input:focus, button:focus {
    outline: none;
}

img {
    width: 100%;
}

button {
    border:none;
    background-color: rgba(255,255,255,0);
}

.clear{
    clear: both;
}


.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
	float: left;
	margin-left: 2.14%;
} 

.col1:first-child, .col2:first-child, .col3:first-child, .col4:first-child, .col5:first-child, .col6:first-child, .col7:first-child, .col8:first-child, .col9:first-child, .col10:first-child, .col11:first-child {
	margin-left: 0;
} 

.col1  { width: 6.37%; }
.col2  { width: 14.88%; }
.col3  { width: 23.39%; }
.col4  { width: 31.9%; }
.col5  { width: 40.41%; }
.col6  { width: 48.93%; }
.col7  { width: 57.44%; }
.col8  { width: 65.95%; }
.col9  { width: 74.46%; }
.col10 { width: 82.98%; }
.col11 { width: 91.49%; }
.col12 { width: 100%; }

/* for phone
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
	float: left;
	margin-left: 4.167%;
} 
.col1  { width: 6.25%; }
.col2  { width: 16.667%; }
.col3  { width: 27.083%; }
.col4  { width: 37.5%; }
.col5  { width: 47.917%; }
.col6  { width: 58.333%; }
.col7  { width: 68.75%; }
.col8  { width: 79.167%; }
.col9  { width: 89.583%; }
.col10 { width: 100%; }
*/

.width1398 { 
	max-width: 1398px;
	margin: 0 auto;
}