* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, main {
    background: #86a7c6;
    font-family: "微軟正黑體";
    color: #fff;
}

ul {list-style: none;}
a {text-decoration: none;}
button {outline: none;}

/*--------------------------------------------------*/
nav {
    width: 100%;
    height: 50px;    
    background: linear-gradient(90deg, rgba(4, 85, 150, 1)12%, rgba(25, 119, 221, 1)69%); 
    background: -moz-linear-gradient(90deg, rgba(4, 85, 150, 1)12%, rgba(25, 119, 221, 1)69%); 
    background: -webkit-linear-gradient(90deg, rgba(4, 85, 150, 1)12%, rgba(25, 119, 221, 1)69%); 
    background: -o-linear-gradient(90deg, rgba(4, 85, 150, 1)12%, rgba(25, 119, 221, 1)69%); 
    z-index: 2;
}


nav:after {
    content:"";
    display: block;
    clear: both;
}

nav h1, nav div, nav button {
    float:left;    
}

nav div:last-of-type, nav button {
    float:right;    
}

nav h1 {    
    width: 15%;
    color: rgba(255,255,255,0);
    font-size: 0;    
}

nav h1 img {
    padding: 10px 0 10px 30px;
    cursor: pointer;
}

nav div:first-of-type {
    width: 60%;
}

nav div p {    
    line-height: 50px;
}

nav div:first-of-type p {
    font-size: 18px;
}

nav div:first-of-type p span {
    color: #ffae11;
}

nav div:last-of-type p span {
    padding: 0 5px;
}

nav button {
    height: 30px;
    color: #fff;
    background-color: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,1);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 30px 10px 20px; 
}

nav button:hover, nav button:focus {
    background-color: rgba(255,255,255,.15);
    cursor: pointer;
}

/*--------------------------------------------------*/
.sidebar {
    width: 15%;
    height: auto;
    background: #86a7c6;
    float: left;
}

.sidebar h2 {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 28px;
}

.sidebar table {
    width: 90%;
    height: auto;
    margin-left: 10%;
}

.sidebar .sidenav dt {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #bce6f9;
    padding-left: 40px;
    border-bottom: 1px solid #224f79;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(22, 117, 212, 1)12%, rgba(6, 92, 160, 1)69%); 
    background: -moz-linear-gradient(180deg, rgba(22, 117, 212, 1)12%, rgba(6, 92, 160, 1)69%); 
    background: -webkit-linear-gradient(180deg, rgba(22, 117, 212, 1)12%, rgba(6, 92, 160, 1)69%); 
    background: -o-linear-gradient(180deg, rgba(22, 117, 212, 1)12%, rgba(6, 92, 160, 1)69%); 
    position: relative;
}

.sidebar .sidenav dt.nocontent {
    cursor: default;
}

.sidebar .sidenav dt.nocontent:before {
    display: none;
}

.sidebar .sidenav dt:before {
    display: block;
    content: "▼";
    color: #0a3144;
    line-height: 15px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: transform .5s;
    position: absolute;
    top: 12px;
    left: 10px;
}

.sidebar .sidenav dd {
/*    display: block;*/
    width: 90%;  
    height: auto;
    margin: 5%;
    overflow: hidden;  
}

.sidebar .sidenav dd a {
    display: block;
    width: 180px;   
    padding: 5%;
    color: #333;
    float: left;
}

.sidebar .sidenav dd a:hover {
    background-color: #a3c6e7;
    color: #0c3244;
}

.sidebar .sidenav dt.changekey {
    margin-top: 10px;
    background: #5981a7;
    border: none;
}

.sidebar .sidenav dt.changekey:hover {
    background: #feae18;
}

.sidebar .sidenav .changekey a {
    display: block;
    color: #fff;
}


/*--------------------------------------------------*/
.noshow {
    display: none;
}

main {
    width: 85%;
    height: calc(100vh - 50px);
    float: right;
    background: #e4e4e4;
    box-shadow: -10px 0 20px rgba(0,0,0,.2);
    padding: 50px;
}

main:after {
    content: "";
    display: block;
    clear:both;
}

.contentbox {
    width: 100%;
    height: 100%;
}

.mainpage {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #1573d1;
}

.mainpage img {
    width: 150px;
    height: auto;
    padding-top: 50%;
}

.mainpage h1 {
    font-size: 50px;
    padding: 20px 0;
}

.box {
    width: 100%;
    height: 100px;    
    margin-bottom: 50px;
}

.contentbox h3 {
    color: #1573d1;
}

.inputbox {
    margin: 15px 15px 2px 0;
    float: left;
    font-size: 12px;
    overflow: hidden;
}

.short {width: 100px;}
.long {width: 150px;}
.longer {width: 200px;}

/*
.inputbox input {    
    margin-top: 2px;
}
*/

.inputbox label, .inputbox input, .inputbox select {
    max-height: 35px;
    min-height: 35px;
    padding: 8px 15px;
}

.inputbox span {
    color: #1573d1;
    font-weight: bold;
    padding: 0 5px;
}

.inputbox label{
    background-color: #1573d1;
}

select {
    margin: 0;
    appearance:none;
  -moz-border: none;
  -webkit-border: none;
/*  -webkit-appearance:none;*/

}

select::-ms-expand { 
    border: none;
    background: none;
}


.inputbox input, .inputbox select {
    background-color: #fff;
    border: none;
/*    margin-left: 3px;*/
    outline: none;
}

.contentbox button {
    color: #fff;
    padding: 8px 15px;
    margin: 0 2px;
    border: 1px solid #ff8b23;
    border-radius: 5px;
    background: linear-gradient(to top, #995708 0%,#d87500 10%,#ff971c 100%); 
    background: -moz-linear-gradient(bottom, #995708 0%, #d87500 10%, #ff971c 100%); 
    background: -webkit-linear-gradient(bottom, #995708 0%,#d87500 10%,#ff971c 100%); 
    background: -o-linear-gradient(bottom, #995708 0%,#d87500 10%,#ff971c 100%); 
    cursor: pointer;
}

.contentbox button:hover, .contentbox button:focus {
    border: 1px solid #e87a19;
    background: linear-gradient(to top, #7b4504 0%,#ba6a0b 10%,#ef860b 100%); 
    background: -moz-linear-gradient(bottom, #7b4504 0%,#ba6a0b 10%,#ef860b 100%); 
    background: -webkit-linear-gradient(bottom, #7b4504 0%,#ba6a0b 10%,#ef860b 100%); 
    background: -o-linear-gradient(bottom, #7b4504 0%,#ba6a0b 10%,#ef860b 100%); 
}

.contentbox table {
    width: 100%;
}

.contentbox tr {
/*    padding: 5px;*/                                               /*-----------------*/
    font-size: 14px;
    height: 35px;                                               /*-----------------*/
}

.contentbox th {
    background: #4b4b4b;
}

.contentbox td {    
    color: #3a3a3a;
    font-weight: bold;
}

.contentbox th, .contentbox td {    
/*    padding: 5px;*/                                               /*-----------------*/
    text-align: center;
}

.contentbox tr:nth-child(even) {
    background: #d5dddf;
}

.contentbox tr:nth-child(odd) {
    background: #d4d4d4;
}


/*--------------------------------------------------*/
.note {
    width: 100%;
    padding: 15px 0;
    color: #3a3a3a;
    font-weight: bold;
}

.precautions h4 {
    font-size: 16px;
    padding: 5px 0;
}

.note p {
    font-size: 14px;
}


/*--------------------------------------------------*/
.page p {
    line-height: 30px;
}

.page span {
    color: #ff671c;
    padding: 0 5px;
}

.page div, .page ul {
    float:left;
    margin-right: 30px;
}

.page li {
    float:left;
    padding: 0 2px;
}

.page li a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    color: #4b4b4b;
}

.page li a:hover,.page li a:focus {
    background-color: #ccc;
}

.page li a.active {
    color: #fff;
    background-color: #4b4b4b;
}


/*--------------------------------------------------*/
.nobtm {
    margin-bottom: 0;
}

.daytable tr.plus {
    background: #d5dddf;
}
.daytable tr.less, .modify td {
    background: #d4d4d4;
}

.daytable tr.yl {
    background: #e5dccb;
}

.contentbox .bluebg {
    border: 1px solid #74b1ed;
    background: linear-gradient(to top, #075da2 0%, #1574d2 100%); 
        background: -moz-linear-gradient(bottom, #075da2 0%, #1574d2 100%); 
        background: -webkit-linear-gradient(bottom, #075da2 0%, #1574d2 100%); 
        background: -o-linear-gradient(bottom, #075da2 0%, #1574d2 100%); 
}

.contentbox .bluebg:hover, .contentbox .bluebg:focus {
    border: 1px solid #5d94ca;
    background: linear-gradient(to top, #0c5087 0%, #0f65ba 100%); 
        background: -moz-linear-gradient(bottom, #0c5087 0%, #0f65ba 100%); 
        background: -webkit-linear-gradient(bottom, #0c5087 0%, #0f65ba 100%); 
        background: -o-linear-gradient(bottom, #0c5087 0%, #0f65ba 100%); 
}

.contentbox i {
    padding-right: 5px; 
}
/*-------------------------------------*/
.blackbg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
}

.outbox {
/*    max-width: 1200px;*/
    width: 60%;
    background-color: #f7f7f7;
    position: fixed;
    top: 30px;
    left: 20%;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.outbox>div:first-child {
    width: 100%;
    height: 50px;
    position: relative;
}

.outbox h3 {
    width: 100%;
    height: 50px;
    background-color: #1573d1;
    padding: 0 15px;
    line-height:50px;
    color: #fff;
}

.outbox h3+button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background: none;
    border: none;
    position:absolute;
    top: 0;
    right: 0;
}

.outbox h3+button:hover, .outbox h3+button:focus {
    background: none;
    border: none;
}

.outbox .message {
    margin: 15px 80px 30px;
    color: #4b4b4b;
}

.message h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid #b2b2b2;
}

.message .msgbox {
    padding: 10px 0;
}

.msgbox label {
}

.msgbox label span {
    color: #ff7611;
}

.msgbox select, .msgbox input, .msgbox textarea {
    border:1px solid #b2b2b2;
    outline: none;
    padding: 0 10px;
/*    margin-top: 5px;*/
}

.msgbox select {
    width: 400px;
    line-height: 35px; /*for opera*/
    height: 35px;
    font-size: 14px;
}

.msgbox input {
    width: 300px;
    height: 35px;
}

.msgbox textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #000;
    resize: none;
}

.message p {
    font-size: 14px;
    color: #ff7611;    
}

.centerbox {
    width: 130px;
    float: none;
    margin: 0 auto 50px;
}

.disable {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

/*--------------------------------------------------*/
.contentbox .orange {
    color: #ff671c;
}

.modify>p {
    color: #1573d1;
    font-size: 14px;
    margin: 5px 0;
}

.modify td {
    position: relative;
}

.modify td input {
    width: 100%;
    height: 35px;                                               /*-----------------*/
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 0 10px;
}

.modify th:last-child, .modify td:last-child {    
    background: #e4e4e4;
    text-align: left;
}

/*--------------------------------------------------*/
@media screen and (max-width: 1200px){
    nav h1 {
        width: 20%;
    }
    
    nav div:first-of-type {
        width: 45%;
    }
    
    nav div:first-of-type p {
        font-size: 15px;
    }
    
    nav div p {
        font-size: 15px;
    }
    
    .sidebar {
        width: 20%;
    }
    
    main {
        width: 80%;
    }

    .contentbox .tableoverhd {
        width: 100%;
        overflow-x: auto;
    }

    .contentbox table {
        width: 1200px;
    }
}


