*{margin:0;padding:0;}
body{background:#fff;}
header{width:960px; height:150px; margin:0 auto;}
.tophdr{width:100%; height:90px;}
.logoimg{height:82px; float:left;}
.rthdr{width:47%; height:82px; float:right;}
.sthdr{width:100%; height:30px; margin-top:2px;}

/*header大框*/

.sthdr ul{width:98%; height:30px; padding-left:2%; border-bottom:2px solid #ccc;}
.sthdr ul li{width:16%; height:40%; margin-top:15px;}
.sthdr ul li a{display:block; width:85%; height:20px; margin: -5px auto; text-align:center; line-height:20px; font-size:14px; color:#666;}
.sthdr ul li a img{vertical-align:top; padding-right:2px;}
.sthdr ul .w20{width:20%;}
.sthdr ul .w13{width:13%;}
.sthdr ul li a.purple{color:#955aa6;}
.sthdr ul .ll{border-left:1px solid #955aa6;}
.sthdr ul .rl{border-right:1px solid #955aa6;}
.sthdr ul li a:hover{border-bottom:2px solid #b102d1;}

/*右上小選單*/

.sbhdr{width:370px; height:30px; float:right; margin-top:5px;}
#search{width:273px; height:26px; float:right; margin-top:10px; border:1px solid #ccc; border-radius:3px;}
#search select{height:26px; border:none; float:left;}
#search form input{width:168px; height:26px; border:none; float:left;}
/*#search-box{colcr:#ccc;}*/
.searchicon{float:right; width:26px; height:26px; background:url("../images/img/search.png"); border:none;}
.searchicon:hover{width:26px; height:26px; background:url("../images/img/search2.png");}
.net{/*width:65px;*/ height:28px; float:left; margin-top:11px;/* background-color:#00ffff;*/}
.fb{/*width:7%;*/ height:28px; float:left; margin-top:11px;}
.sbhdr2 img{float:left;}
.sbhdr2 p{font-size:8px; float:right; line-height:30px;}
.sbhdr2 a{display:block; width:25px; height:28px; overflow:hidden;}
.sbhdr2 .net a{color:#ff8f11; transition: all .8s;}
.sbhdr2 .fb a{color:#3f65b0; transition: all .6s;}
.sbhdr2{float:right;}
.sbhdr2 .net a:hover{width:65px;}
.sbhdr2 .fb a:hover{width:60px;}
/*搜尋行*/

ul{list-style:none;}
ul li{float:left;}
a{text-decoration:none;}

/*基本設定*/

#minmenu{width:100%; height:60px;}
.mm1{width:45%; height:44px; border-bottom:2px solid #f31090; float:left; position:relative;}
.mm2{width:20%; height:44px; border-bottom:2px solid #05bafb; float:left; position:relative;}
.mm3{width:35%; height:44px; border-bottom:2px solid #02b452; float:left; position:relative;}
#minmenu .mm1 ul{width:413px; height:40px; position:absolute; top:4px; left:19px;background-color:#444;}
#minmenu .mm2 ul{width:175px; height:40px; position:absolute; top:4px; left:19px;}
#minmenu .mm3 ul{width:315px; height:40px; position:absolute; top:4px; left:19px;}
#minmenu ul li a{display:block; height:39px; border-top:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #fff; background:linear-gradient(180deg,rgb(255,255,255),rgb(230,230,230),rgb(240,240,240)); text-align:center; color:#666; line-height:40px; font-weight:bold;}
#minmenu .mm1 ul li{width:24.9%;}
#minmenu .mm2 ul li{width:49%;}
#minmenu .mm3 ul li{width:33.3%;}
#minmenu .mm1 ul li a{width:100%;}
#minmenu .mm2 ul li a{width:100%;}
#minmenu .mm3 ul li a{width:100%;}
#minmenu .mm1 ul li a:hover{color:#F40E91;}
#minmenu .mm2 ul li a:hover{color:#09B8FB;}
#minmenu .mm3 ul li a:hover{color:#04B252;}

/*大選單*/

#contenter{width:960px; height:1725px; margin:0 auto;}
#aside{width:185px; height:auto; float:left;}

/*內容框,左選單框*/

#asdtt a{color:#fff;}
#asdtt{width:169px; height:34px; background:url("../images/bg/asdbg01.png") no-repeat; color:#fff; text-align:center; line-height:34px; font-weight:bold; letter-spacing:3px; margin-bottom:10px; border-radius:2px;}
#asdtt:hover{background:url("../images/bg/asdbg01hv.png") no-repeat;}
.asdtt{width:168px; height:33px; text-align:center; line-height:34px; color:#83339A; letter-spacing:3px; border-radius:5px 5px 0 0; border:1px solid #ccc; font-weight:bold;}
.asd01{background:url("../images/bg/asdbg02.png") no-repeat;}
.asd02{background:url("../images/bg/asdbg03.png") no-repeat;}
.asd03{background:url("../images/bg/asdbg04.png") no-repeat;}
.asd04{background:url("../images/bg/asdbg05.png") no-repeat;}
.asd05{background:url("../images/bg/asdbg06.png") no-repeat;}
.asd06{background:url("../images/bg/asdbg07.png") no-repeat;}

/*左選單框基本設定*/

.asdtext{font-size:13px; color:#444;}
.asdh0 {width:168px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.asdh1{height:255px; padding-top:15px;}
.asdh2{height:130px; padding-top:15px;}
.asdh3{height:580px; padding-top:10px; text-align:center;}
.asdh4{height:240px; padding-top:15px;}
.asdh5{height:80px; padding-top:15px;}
.asdh6{height:125px;}

/*左選單高度設定*/

.asdtextl{width:72px; height:auto; float:left; padding-left:12px;}
.asdtextr{width:72px; height:auto; float:right; padding-right:8px;}
.asdtext ul{margin-bottom:10px;}
.asdtext ul li{width:100%;}
.asdtext ul li a{display:block; width:100%; height:25px; color:#333;}
.asdh1 ul li a:hover,.asdh2 ul li a:hover{color:#64B2FF;}
.asdtext>img{margin:-15px 0 10px 0;}

/*國外旅遊*/

.asdh3 ul a{color:#333;}
.asdh3 ul a:hover{color:#64B2FF;}
.asdh3 ul {width: 147px; margin-left:10px; line-height:25px;}
.asdh3 .asdh3_1 ul li{height:124px; margin-bottom:10px;}
.asdh3 ul .asdstt{width:147px; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:3px solid #ccc; line-height:25px;}

.asdh3_2 a{width:149px; height:129px;}
.asdh3_2 a>img{display:block; width:149px; height:99px;}
/*.asdh3_2 a img{display:none;}
.asdh3_2 .asdh_2_op{height:129px;}
.asdh3_2 .asdh_2_op>img{display:block;}*/
/*-----------------------------------------------------------------------未----------------*/
/*主題旅遊*/

.asdsmu ul{margin:0 5%;}
.asdsmu ul li{width:49%; height:30px; text-align:center; line-height:30px;}
.asdsmu ul li a{display:block; width:100%; height:30px;}
.smu1{color:#955aa6; border-left:1px solid #ccc; border-top:3px solid #b34cd0; margin-bottom:10px;}
.smu2{background-color:#ededed; border-left:1px solid #ccc; border-bottom:1px solid #ccc; margin-bottom:10px;}
.smu1>a:hover{color:#b34cd0;}
.smu2>a:hover{color:#b34cd0;}
.asdsimg2{text-align:center; margin-bottom:10px;}
.asdstt2{width:90%; height:30px; margin:0 auto; position:relative;}
.asdstt2 span{display:block; width:40px; height:20px; border-radius:3px; background-color:#83329B; color:#fff; text-align:center; line-height:20px;}
.asdstt2 a{display:block; width:100%; height:30px; color:#333;}
.asdstt2 a:hover{color:#64B2FF;}
.asdstt2 p{position:absolute; top:0; left:42px;}
.asdicon{text-align:center;}

/*卡友優惠*/

.asdh5 img{float:left; margin:0 10px;}
.asdh5 .asdstt p{line-height:18px; color:#333;}
.asdh5 .asdstt p span{color:#02A3DF;}
.asdh5 a:hover .asdstt p{color:#02A3DF;}

/*旅遊新知*/


.asdh6{width:168px; height:100px; border-bottom:1px solid #ccc; border-radius: 0 0 5px 5px;}
.asdh6 a{color:#444;}
.asdicong{width:35%; height:80px; float:left; text-align:center; padding-top:15px;}
.asdic1{margin:0 5% 0 10%;}
.asdic2{margin:0 10% 0 5%;}
.asdh6 a:hover{color:#02A3DF;}
.asdh6 a:hover img{margin:1px 0 -1px 0;}

/*更多服務*/

#content{width:770px; height:auto; float:right; /*background-color:#123;*/}
.col{width:100%; height:246px; margin-bottom:20px; /*background-color:#aaa;*/}
.col2{height:500px;/*background-color:#eee;*/}
.collt{width:480px; height:259px; float:left; /*background-color:#274;*/}
.colrt{width:269px; height:259px; float:right; /*background-color:#faf;*/}

/*右邊主內容框*/

.banner{width:100%; height:229px; background-image:url("../images/bn/banner01.png");}
.bnmenu{width:100%; height:30px;}
.bnmenu ul li{font-size:13px; text-align:center; line-height:30px;}
.bnsl{width:1px; height:30px; background-color:#fff; float:left;}
.bnmenu ul li a{display:block; width:95.2px; height:30px; color:#333; background-color:#EED3F5;}
.bnmenu ul li a:hover{width:95.2px; height:27px; color:#fff;background-color:#9D5BAF; border-bottom:3px solid #883F9C;}

/*主banner*/

.coltp{:100%; height:120px;margin-bottom:17px; /*background-color:#499;*/}
.colbt{:100%; height:120px; border:1px solid #ccc; /*background-color:#499;*/}

/*右邊上下框設定*/

.ctpcol{width:100%; height:30px; background-color:#F2F2F2;}
.ctpcol p{font-weight:bold; letter-spacing:2px; line-height:30px; padding-left:10px; float:left;}
.ctpcol .c1{color:#84319A;}
.ctpcol .c2{color:#D0117D;}
.ctpcol .c3{color:#FC4C03;}
.ctpcol .c4{color:#30B800;}
.ctpcol .c5{color:#00A3E0;}
.colchange{width:60px; height:30px; float:right;}
.cch{width:8px; height:8px; border-radius:5px; background-color:#E0E1E0; float:left; margin:11px 0 auto 5px;}
.cch:hover{background-color:#01A2DF;}
.inc{background-color:#01A2DF;}
.ctpimg{width:100%; height:90px; background-image:url("../images/bn/ctpimg01.png");}

/*右第一框*/

.cbtcolmu ul{width:100%; height:30px;}
.cbtcolmu ul li{width:33.3333333%; height:100%; background-color:#F2F2F2; font-size:14px; text-align:center; line-height:30px;}
.cbtcolmu ul li a{display:block;}
.cbtcolmu1{border-top:3px solid #B34CD1; border-right:1px solid #ccc; height:27px; background-color:#fff; color:#84329B; line-height:27px;}
.cbtcolmu2{border-bottom:1px solid #ccc; color:#333; height:29px;}
.cbtcolmu3{border-bottom:1px solid #ccc; color:#333; height:29px;}
.cbtcolmu2:hover{color:#FC4C02;}
.cbtcolmu3:hover{color:#84329B;}
.cbtcolmu2 img{vertical-align:top; margin-right:3px;}
.cbtcol{display:block; width:249px; height:70px; margin:15px 10px;}
.csimg{width:89px; height:64px; background-image: url("../images/bn/csimg01.png"); float:left;}
.cstext{font-size:12px; float:left; color:#84329B; margin-left:10px; line-height:20px;}
.cstext span{color:#333;}
.cbtcol:hover .cstext span{color:#02A3DF;}

/*右第2框*/

.secmunu{display:block; width:100%; height:299px; border:1px solid #ccc;}
.secmu{width:100%; height:40px; float:left;}
.secmu li a{width:68.5px; height:40px; background-color:#F2F2F2; text-align:center; line-height:40px; font-size:14px; float:left; border-bottom:1px solid #ccc;}
.secmu2 ul li{visibility:hidden;}
.secmu a{color:#777; font-weight:bold;}
.secmu a:hover{color:#D40F7D;}
.secmu ul li .secmuw{width:67px;  height:37px; background-color:#fff; border-bottom:none; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:3px solid #E987BE; line-height:37px; color:#D40F7D;}
.secmu ul li .secmur{width:65.5px; border-left:3px solid #D40F7D; background-color:#E56FB2; color:#fff;}
.secmu ul li .secmub{width:65.5px; border-left:3px solid #00A3E0; color:#00A3E0; text-indent:-10px;}  /*text-indent首航凸(縮)排*/
.sarrow{width:6px; height:8px; background:url("../images/img/arrow5.png") 80% center no-repeat;}
.secmu ul li .secmub:hover{background-color:#66C8EC; color:#fff;}
.sarrow:hover{background:url("../images/img/arrow4.png") 80% center no-repeat;}

/*旅遊搜尋框 選單*/

.clbt{clear:both;}
.secctn{width:95%; height:200px; margin:20px 2.5% auto 2.5%;}
.secctntt{width:98%; height:30px; color:#00A3E0; font-weight:bold; margin:0 auto; border-bottom:1px solid #ccc;}
.stct{width:85%; height:150px; margin-left:20px;}
.atct1,.atct2,.atct3{height:40px; float:left; font-size:14px; color:#333;}
.atct1 p,.atct2 p,.atct3 p{float:left; margin-top:5px; margin-right:5px; width:60px;}
.atct1 p{float:left; margin-top:5px; margin-right:5px;}
.atct2 p{float:left; margin-top:5px; margin-right:5px;}
.atct3 p{float:left; margin-top:5px; margin-right:5px;}
.atct1 select,.atct2 select,.atct3 select{float:left; height:25px; border-radius:3px;}
.atct1 select{width:58%;}
.atct2 select{width:81.3%;}
.atct3 select{width:110px;}
.atct1{width:47%; margin-top:20px;}
.atct2{width:92%;}
.atct3{width:90%;}
.atct3 img{vertical-align:middle; margin:0 5px;}
.atct3 #checkteam{font-size:10px; vertical-align:middle;}
.atct3 #goout{width:120px;}
.stsc a{width:74px; height:27px; float:right; margin-right:10px; background-image:url("../images/img/search3.png");}
.stsc a:hover{background-image:url("../images/img/search4.png");}



/*旅遊搜尋框*/

.coladd{height:299px;}
.seccol{display:block; width:100%; height:299px; border:1px solid #ccc;}
.seccol ul{width:100%; height:40px; }
.seccol ul li{width:33.3333%; height:40px; background-color:#F2F2F2; text-align:center; line-height:40px; font-size:14px;}
.seccol ul li a{display:block; width:100%; height:40px; color:#333;}
.seccol ul li .cbtcolmu1{border-left:1px solid #ccc; width:99%; height:38px;line-height:35px; color:#85329C;}
.scolimg{width:249px; height:74px; background-image: url("../images/bn/scolimg01.png"); margin:0 auto; margin-top:15px;}
.scoltt{font-size:13px; margin:10px;}
.scoltt a{display:block; width:100%; height:30px;line-height:30px; color:#333;}
.scoltt a span{color:#DF0015; float:right;}
.ppnum{width:20px; height:20px; background-color:#85339E; border-radius:2px; float:left; text-align:center; line-height:20px; color:#fff; margin:5px 5px 0 0; }
.scoltt a:hover p{color:#02A3DF;}

/*第2區塊 右*/
.contenttt{width:100%; height:34px;}
.t1{background:url("../images/bg/contentttbg01.png") no-repeat; margin-bottom:10px;}
.t2{background:url("../images/bg/contentttbg02.png") no-repeat; margin-bottom:10px;}
.t3{background:url("../images/bg/contentttbg03.png") no-repeat; margin-bottom:10px;}

/*下三標題*/

.col2 .contentcol{width:768px; height:460px; border:1px solid #ccc;}
.col2 .colmu{width:50%; height:430px; float:left;}
.colmu ul{width:100%; height:35px; border-bottom:1px solid #ccc; background-color:#F2F2F2;}
.colmu ul li{width:25%; height:35px; text-align:center; line-height:35px; font-size:14px;}
.colmu ul li a{display:block;}
.colmu1{width:100%; height:33px;border-top:3px solid #E987BE; border-left:1px solid #ccc; border-right:1px solid #ccc; color:#D4107E; background-color:#fff;line-height:32px;} 
.colmu2{width:100%; height:35px; color:#333;}
.colmu2:hover{color:#D4107E;}
.colmu3{width:100%; height:33px;border-top:3px solid #66C28F; border-left:1px solid #ccc; border-right:1px solid #ccc; color:#009A44; background-color:#fff; line-height:32px;} 
.colmu4{width:100%; height:35px; color:#333;}
.colmu4:hover{color:#009A44;}
.colmu5{width:100%; height:33px;border-top:3px solid #66C8EC; border-left:1px solid #ccc; border-right:1px solid #ccc; color:#01A3E0; background-color:#fff;line-height:32px;} 
.colmu6{width:100%; height:35px; color:#333;}
.colmu6:hover{color:#01A3E0;}

/*下三小標*/

.col2 .cttcol{height:365px; padding:15px; border-right:1px solid #ccc;}
.cttcol{height:150px; padding:15px; border-right:1px solid #ccc;}
.cttcol p{font-size:13px;}
.cttcol p a{display:block; width:100%; height:35px; line-height:35px; border-top:1px dotted #ccc; color:#333;}
.cttcol p a:hover{color:#D60F7E;}
.cttcol p a span{float:right;}
.cttcol p .noline{border-top:none;}

/*國外團體旅遊 左*/

.bctt{width:92%; height:360px; /*background-color:#aaa;*/ padding:15px 4% 25px 4%;}
.ctt{width:165px; height:140px; /*background-color:#717;*/ float:left; margin-bottom:15px; position:relative;}
.cttr{width:165px; height:140px; /*background-color:#717;*/ float:right; margin-bottom:15px;}

.bctt img{margin-top:15px; float:left; margin-bottom:10px;}
.bctt .triangle{margin-top:20px;}
.bctt p{font-size:12px; margin:5px auto auto 10px;}
.bctt p span{font-size:14px;}
h5{width:90px; height:20px; background-color:#D60F7E; text-align:center; line-height:20px; color:#fff; font-weight:normal; border-radius:2px; position:absolute;}
.ctt:hover p{color:#D60F7E;}
.cttr:hover p{color:#D60F7E;}
.incol a{display:block; width:99%; height:25px; background-color:#FBE9F2; margin:330px 5px 0 0; font-size:12px; text-align:center; line-height:28px; color:#666; border-radius:3px; box-shadow:1px 1px 1px #ccc;}
.incol a:hover{color:#D60F7E;}

/*國外團體旅遊 右*/

.contentcol .outcol{width:100%; height:30px; background-color:#F2F2F2; float:left; font-size:12px; }
.outcolrt{height:16px; float:right; margin:7px 5px;}
.outcolrt a img{vertical-align:text-top; margin:0 5px;}
.ocortcl1{color:#D60F7E;}
.ocortcl2{color:#009A44;}
.ocortcl3{color:#01A3E0;}

/*前往*/

.col3{height:290px;}
.contentcol{width:768px; height:246px; border:1px solid #ccc;}
.ltcolimg{width:98px; height:129px;}
.ltcolimg img{float:left;}
.ltcolimg p{width:98px; height:25px; background-color:#000; color:#fff; font-size:12px; text-align:center; line-height:25px; float:left;}
.cttcol .ltcolimg{float:left;}
.cttcol p .wt70{width:70%; height:32px; line-height:32px; float:right;}
.col3 .cttcol>p:hover a{color:#009A44;}
.colmu{width:50%; height:216px; float:left;}
.col3 .colmu .ctt img,.col3 .colmu .cttr img{float:left; margin-top:15px; margin-bottom:10px;}
.col3 .colmu .cttcol .triangle{margin-top:20px;}
.col3 .colmu .ctt p,.col3 .colmu .cttr p{font-size:12px; margin:5px auto auto 10px;}
.col3 .colmu .cttcol p span{font-size:14px;}
.col3 h5{background-color:#009A44;}
.col3 .ctt:hover p{color:#009A44;}
.col3 .cttr:hover p{color:#009A44;}

/*國外個人旅遊*/

.col4{height:290px;}
.col4 .cttcol>p:hover a{color:#01A3E0;}
.col4 .colmu .ctt img,.col4 .colmu .cttr img{float:left; margin-top:15px; margin-bottom:10px;}
.col4 .colmu .cttcol .triangle{margin-top:20px;}
.col4 .colmu .ctt p,.col4 .colmu .cttr p{font-size:12px; margin:5px auto auto 10px;}
.col4 .colmu .cttcol p span{font-size:14px;}
.col4 h5{background-color:#01A3E0;}
.col4 .ctt:hover p{color:#01A3E0;}
.col4 .cttr:hover p{color:#01A3E0;}

/*國內旅遊訂房*/

footer{width:960px; height:400px; margin:0 auto;}
.tftr{width:100%; height:180px; background-color:#F4F4F4; border-top:2px solid #9A349F;}
.bftr{width:100%; height:117px; background-color:#EEEEEE;}
.bbftr{width:100%; height:100px; background-color:#EEEEEE; margin-top:1px; font-size:13px; color:#666; text-align:center; line-height:23px; padding-top:20px; letter-spacing:.5px;}

/*尾框*/

.tftrcol{width:42%; height:100%; margin-left:8%; margin-top:20px; float:left; font-size:14px;}
.tftrcol p{line-height:25px; letter-spacing:.2px;}
.tftrcol p span{color:#9A349F;}
.ftrtt{width:35px; height:20px; background-color:#9A349F; border-radius:3px; color:#fff; text-align:center; line-height:20px; font-size:12px;}
.btftr{width:80%; height:100%; margin:0 auto;}

#logo{ float:left; margin-right:40px;}
.bftrimgs{float:left;}
.bftrimgs img{margin-bottom:5px;}
.bftricon{width:60px; height:75px; color:#333; float:left; font-size:12px; margin-right:10px; text-align:center;}
.bftricon:hover{color:#01A3E0;}
.bftricon:hover img{margin-top:1px; margin-bottom:4px;}





